 /* this will reset the page to ensure there are no spaces */

 html, body {
   padding: 0;
   margin: 0;
   height: 100%;
   width: 100%;
 }

 .head {
   display: grid;
   justify-items: center;
   align-items: center;
   justify-content: center;
   align-content: center;
   background-image: url(../images/backgrounds/landing.jpg);
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .menu-text1 {
   color: white;
 }

 .menu-text2 {
   color: white;
   text-align: center;
 }

 .wrapper {
   width: 100vw;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }

 .happy {
   height: 50%;
   text-align: center;
 }

 .party {
   height: 50%;
   text-align: center;
   background: #F15A29;
 }

 .ff {
   width: 80%;
 }

 .fast-images {
   border: 1px solid black;
   padding: 20px;
 }

 .burger {
   background-image: url(../images/backgrounds/foodsBg.jpg);
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 100px;
 }

 .foods {
   background: white;
 }

 .customers {
   padding: 100px;
 }