/* this will reset the page to ensure there are no spaces */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header-background {
  background-image: url(../images/backgrounds/landing.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu-logo {
  margin: 0;
  position: absolute;
  top: 110px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -16%);
}

.menu-text1 {
  margin: 0;
  position: absolute;
  top: 380px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -54%);
  font-weight: bolder;
  color: white;
}

.menu-text2 {
  margin: 0;
  position: absolute;
  top: 410px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -64%);
  font-weight: bolder;
  color: white;
}